@mixin reset-list($my_margin:0, $my_padding:0, $my_style: none){
    margin: $my_margin;
    padding: $my_padding;
    list-style: $my_style;
}

@mixin bg-effect($effect){
    @if $effect == success {
        background-color: green;
    }
    @else if $effect == warning {
        background-color: yellow;
        color: black;
    }
    @else if $effect == danger {
        background-color: red;
    }
    @else{
        background-color: blue;
    }
}
