<!DOCTYPE html>
<html>
    <head>
        <title>Layouts</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style-false-column.css">
    </head>
    <body>
        <div id="container">
            <div id="logo">Logo</div>
            <div id="content">
                <div id="main-content">
                    <h2>Main Content</h2>
                    <img src="images/nature.jpg" class="img-news">
                    <p>Consectetur adipiscing elit. Fusce et tortor nec lacus lacinia finibus at sed erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a efficitur ligula. Quisque vel pretium tellus. Sed non fermentum ante. Curabitur orci nisi, dapibus non nulla at, euismod vehicula lectus. Curabitur ullamcorper lectus eros, eget ornare neque fermentum at. Pellentesque luctus neque at sodales aliquam. Phasellus sed nunc non arcu laoreet commodo.</p>
                    <h2>Main Content</h2>
                    <p>Consectetur adipiscing elit. Fusce et tortor nec lacus lacinia finibus at sed erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a efficitur ligula. Quisque vel pretium tellus. Sed non fermentum ante. Curabitur orci nisi, dapibus non nulla at, euismod vehicula lectus. Curabitur ullamcorper lectus eros, eget ornare neque fermentum at. Pellentesque luctus neque at sodales aliquam. Phasellus sed nunc non arcu laoreet commodo.</p>
                </div>
                <div id="secondary-content">
                    <h2>Secondary Content</h2>
                    <p>Consectetur adipiscing elit. Fusce et tortor nec lacus lacinia finibus at sed erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a efficitur ligula. Quisque vel pretium tellus. Sed non fermentum ante. Curabitur orci nisi, dapibus non nulla at, euismod vehicula lectus. Curabitur ullamcorper lectus eros, eget ornare neque fermentum at. Pellentesque luctus neque at sodales aliquam. Phasellus sed nunc non arcu laoreet commodo.</p>
                </div>
            </div>
            <div id="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div id="footer">Footer</div>
        </div>
    </body>
</html>