<!DOCTYPE html>
<html>
    <head>
        <title>Styling Forms</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style-login-form.css">
    </head>
    <body>
        <div id="container">
            <img src="images/profile.png">
            <form>
                <div>
                    <input class="email" type="text" name="email" id="email" placeholder="Type your e-mail">
                </div>
                <div>
                    <input class="password" type="password" name="password" id="password" placeholder="Type your password">
                </div>               
                <div>
                    <input class="submit" type="submit" value="Sign In">
                </div>
            </form>
        </div>
    </body>
</html>