<!DOCTYPE html>
<html>
    <head>
        <title>Rouding with Images</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style-rounding.css">
    </head>
    <body>
        <div class="box">
            <h2>Header</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, lectus vel pulvinar blandit, quam nisi sollicitudin ex, quis tincidunt ex eros at erat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, lectus vel pulvinar blandit, quam nisi sollicitudin ex, quis tincidunt ex eros at erat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, lectus vel pulvinar blandit, quam nisi sollicitudin ex, quis tincidunt ex eros at erat.</p>
            <div class="last"></div>
        </div>
        
    </body>
</html>