<!DOCTYPE html>
<html>
    <head>
        <title>Styling Tables</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style-tables.css">
    </head>
    <body>
        <h2>Styling Tables</h2>
        <table>
            <tr>
                <th>Code</th>
                <th>Product</th>
                <th class="currency">Price</th>
            </tr>
            <tr>
                <td>001</td>
                <td>Notebook</td>
                <td class="currency">€ 799.99</td>
            </tr>
            <tr class="alternating">
                <td>002</td>
                <td>Tablet</td>
                <td class="currency">€ 349.00</td>
            </tr>
            <tr>
                <td>003</td>
                <td>Iphone</td>
                <td class="currency">€ 1299.99</td>
            </tr>
            <tr class="alternating">
                <td>004</td>
                <td>Nexus</td>
                <td class="currency">€ 1199.00</th>
            </tr>
        </table>
    </body>
</html>